.box{
    background-color:#006CFA;
    width: 100%;
    min-height: 40px;
    border: 1px solid white;
    text-align: center;
    color: white;
    padding: 10px;
}
.box-maxi{
    background-color:#006CFA;
    width: 100%;
    min-height: 80px;
    border: 1px solid white;
    padding: 10px;
}

.box-nested{
    background-color:#00E164;
    width: 100%;
    border: 1px solid #006CFA;

    text-align: center;
    color: white;
    padding: 10px;
    font-size: 0.6rem;
}
section{
    margin-bottom: 20px;
}

.flex-center{
    /* display: flex;
    align-items: center; */
    align-self: center;
}
.flex-end{
    /* display: flex;
    align-items: flex-end; */
    align-self: flex-end;
}
.flex-around{
    justify-content: space-around;
}
.flex-between{
    justify-content: space-between;
}