.box-black{
    background-color:#080C0A;
    width: 100%;
    height: var(--box);
}
.box-pink{
    /* background-color:#E35B8E; */
    width: 100%;
    height: var(--box);
}
.box-orange{
    background-color:#DF5553;
    width: 100%;
    height: var(--box);
}
.box-rosa{
    background-color:#E35B8E;
    width: 100%;
    height: var(--box);
}
.box-light{
    background-color:#F0B183;
    width: 100%;
    height: var(--box);
}
main{
    padding-top: 30px;
}